<p-table [value]="makeModelArray" [dataKey]="'_links.makeModel.href'" selectionMode="single" [(selection)]="selectedMakeModel" (onRowSelect)="onRowSelect($event)">
    <ng-template pTemplate="header">
        <tr>
            <th>Make & Model</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-makeModel>
        <tr [pSelectableRow]="makeModel">
            <td>{{ makeModel.name }}</td>
        </tr>
    </ng-template>
    <ng-template pTemplate="summary">
        <div class="ui-helper-clearfix" style="width:100%">
            <button type="button" pButton icon="fa-plus" style="float:left" (click)="showDialog('Add')" label="Add"></button>
            <button type="button" pButton icon="fa-edit" style="float:left" (click)="showDialog('Update')" label="Modify" [disabled]="modifyAndDeleteButtonsDisable"></button>
            <button type="button" pButton icon="fa-remove" style="float:left" (click)="showDialog('Delete')" label="Delete" [disabled]="modifyAndDeleteButtonsDisable"></button>
        </div>
    </ng-template>
    <!-- </p-footer> -->
</p-table>

<p-dialog header="Make & Model - {{crudMode}}" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true">
    <form [formGroup]="makeModelForm" (ngSubmit)="onSubmit()" novalidate>
        <div class="ui-g">
            <div class="ui-g-6">
                <label for="makeModel">Make & model</label>
            </div>
            <div class="ui-g-6">
                <input pInputText id="makeModel" formControlName="name"/>
            </div>
            <p-footer>
                <div class="ui-g-6">
                    <!-- TODO replace disabled logic with a function -->
                    <button pButton type="submit" label="Submit"
                    [disabled]="makeModelForm.invalid"></button>
                </div>
                <div class="ui-g-6">
                    <button pButton type="reset" label="Cancel" (click)="onCancel()"></button>
                </div>
            </p-footer>
        </div>
    </form>
</p-dialog>
