<p-table [value]="registrationArray" [dataKey]="'_links.registration.href'" selectionMode="single" [(selection)]="selectedRegistration" (onRowSelect)="onRowSelect($event)" [scrollable]="true" scrollHeight="25rem">
    <ng-template pTemplate="header">
        <tr>
            <th>Registration</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-registration>
        <tr [pSelectableRow]="registration">
            <td>{{ registration.name }}</td>
        </tr>
    </ng-template>
    <ng-template pTemplate="summary">
        <div class="ui-helper-clearfix" style="width:100%">
            <button type="button" pButton icon="fa-plus" style="float:left" (click)="showDialog('Add')" label="Add"></button>
            <button type="button" pButton icon="fa-edit" style="float:left" (click)="showDialog('Update')" label="Modify" [disabled]="modifyAndDeleteButtonsDisable"></button>
            <button type="button" pButton icon="fa-remove" style="float:left" (click)="showDialog('Delete')" label="Delete" [disabled]="modifyAndDeleteButtonsDisable"></button>
        </div>
    </ng-template>
    <!-- </p-footer> -->
</p-table>

<p-dialog header="Registration - {{crudMode}}" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true">
    <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()" novalidate>
        <div class="ui-g">
            <div class="ui-g-6">
                <label for="registration">Registration</label>
            </div>
            <div class="ui-g-6">
                <input pInputText id="registration" formControlName="name"/>
            </div>
            <p-footer>
                <div class="ui-g-6">
                    <!-- TODO replace disabled logic with a function -->
                    <button pButton type="submit" label="Submit"
                    [disabled]="registrationForm.invalid"></button>
                </div>
                <div class="ui-g-6">
                    <button pButton type="reset" label="Cancel" (click)="onCancel()"></button>
                </div>
            </p-footer>
        </div>
    </form>
</p-dialog>
