<p-table
    [value]="rowArray"
    [columns]="fields"
    [dataKey]="'_links.self.href'"
	[lazy]="true"
	[rows]="ROWS_PER_PAGE"
	[paginator]="true"
	[totalRecords]="page?.totalElements"
	[rowsPerPageOptions]="[5,10,20]"
	(onLazyLoad)="onLazyLoad($event)"
    [selectionMode]="'single'"
    [(selection)]="selectedRow"
    (onRowSelect)="onRowSelect($event)"
    [responsive]="true"
    [first]="firstRowOfTable"
    [loading]="loadingFlag"
    >

    <ng-template pTemplate="caption">
        Component
    </ng-template>

    <ng-template pTemplate="header" let-columns>
        <tr>
            <th style="width: 3em"></th>
            <th *ngFor="let col of columns">
                {{col.header}}
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-expanded="expanded" let-columns="columns">
        <tr [pSelectableRow]="rowData">
            <td>
                <a *ngIf="rowData.componentHistorySet.length > 0" href="#" [pRowToggler]="rowData">
                    <i [ngClass]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></i>
                </a>
            </td>
            <td *ngFor="let fieldAttributes of columns" [ngSwitch]="fieldAttributes.pipe">
                <!-- <span *ngSwitchCase="'date-yyyy-mm-dd'">{{ rowData[fieldAttributes.columnName] | date:'yyyy-MM-dd' }}</span> -->
                <span *ngSwitchCase="'password'">{{ rowData[fieldAttributes.columnName] | password }}</span>
                <span *ngSwitchDefault>{{ rowData[fieldAttributes.columnName] }}</span>
            </td>

            <!-- <td *ngFor="let col of columns">
                {{rowData[col.columnName]}}
            </td> -->
        </tr>
    </ng-template>
    <ng-template pTemplate="rowexpansion" let-rowData let-columns="columns">
        <tr *ngFor="let componentHistory of rowData.componentHistorySet">
            <td [attr.colspan]="4"></td>
            <td>{{componentHistory.workPerformed}}</td>
            <td>{{componentHistory.datePerformed}}</td>
            <td>{{componentHistory.hoursPerformed}}</td>
            <td [attr.colspan]="2"></td>
        </tr>
    </ng-template>
</p-table>