
    <form (ngSubmit)="changePassword()" #loginForm="ngForm">
        <h4>Change Password</h4>
        <div class="p-grid">
            <div class="p-col-1">
                <label for="oldPassword">Old password</label>
            </div>
            <div class="p-col-11">
                <input type="password" pPassword name="oldPassword" id="oldPassword" [(ngModel)]="model.oldPassword" #oldPassword="ngModel"
                 required>
                <div [hidden]="oldPassword.valid || oldPassword.pristine" class="red-font">Password is required</div>
            </div>
        <!-- </div>
        <div> -->
            <div class="p-col-1">
                <label for="newPassword">New password</label>
            </div>
            <div class="p-col-11">
                <input type="password" pPassword name="newPassword" id="newPassword" [(ngModel)]="model.newPassword" #newPassword="ngModel"
                required/>
                <div [hidden]="newPassword.valid || newPassword.pristine" class="red-font">Old password is required</div>
            </div>
            <div class="p-col-1">
                <label for="confirmNewPassword">Confirm new password</label>
            </div>
            <div class="p-col-11">
                <input type="password" pPassword name="confirmNewPassword" id="confirmNewPassword" [(ngModel)]="model.confirmNewPassword" #confirmNewPassword="ngModel"
                required/>
                <div [hidden]="confirmNewPassword.valid || confirmNewPassword.pristine" class="red-font">Old password is required</div>
            </div>
        </div>
        <button pButton type="submit" label="Change password"></button>
    </form>
