<div class="grid grid-cols-4 gap-y-2 gap-x-4 items-center w-120">
    <!-- line 1 -->
    <span class="font-medium text-slate-700 whitespace-nowrap">Day dual:</span>
    <span class="text-right pr-2">{{totalPanelVo.dayDual === 0 ? '' : (totalPanelVo.dayDual | number: '1.1-1')}}</span>
    <span class="font-medium text-slate-700 whitespace-nowrap">Day solo:</span>
    <span class="text-right pr-2">{{totalPanelVo.daySolo === 0 ? '' : (totalPanelVo.daySolo | number: '1.1-1')}}</span>

    <!-- line 2 -->
    <span class="font-medium text-slate-700 whitespace-nowrap">Night dual:</span>
    <span class="text-right pr-2">{{totalPanelVo.nightDual === 0 ? '' : (totalPanelVo.nightDual | number:
        '1.1-1')}}</span>
    <span class="font-medium text-slate-700 whitespace-nowrap">Night solo:</span>
    <span class="text-right pr-2">{{totalPanelVo.nightSolo === 0 ? '' : (totalPanelVo.nightSolo | number:
        '1.1-1')}}</span>

    <!-- line 3 -->
    <span class="font-medium text-slate-700 whitespace-nowrap">X-cty day:</span>
    <span class="text-right pr-2">{{totalPanelVo.xCountryDay === 0 ? '' : (totalPanelVo.xCountryDay | number:
        '1.1-1')}}</span>
    <span class="font-medium text-slate-700 whitespace-nowrap">X-cty night:</span>
    <span class="text-right pr-2">{{totalPanelVo.xCountryNight === 0 ? '' : (totalPanelVo.xCountryNight | number:
        '1.1-1')}}</span>

    <!-- line 4 -->
    <span class="font-medium text-slate-700 whitespace-nowrap">Inst IMC:</span>
    <span class="text-right pr-2">{{totalPanelVo.instrumentImc === 0 ? '' : (totalPanelVo.instrumentImc | number:
        '1.1-1')}}</span>
    <span class="font-medium text-slate-700 whitespace-nowrap">Inst Sim:</span>
    <span class="text-right pr-2">{{totalPanelVo.instrumentSimulated === 0 ? '' : (totalPanelVo.instrumentSimulated |
        number: '1.1-1')}}</span>

    <!-- line 5 -->
    <span class="font-medium text-slate-700 whitespace-nowrap">Inst flt sim:</span>
    <span class="text-right pr-2">{{totalPanelVo.instrumentFlightSim === 0 ? '' : (totalPanelVo.instrumentFlightSim |
        number: '1.1-1')}}</span>
    <span class="font-medium text-slate-700 whitespace-nowrap">Inst # IFR appr:</span>
    <span class="text-right pr-2">{{totalPanelVo.instrumentNoIfrAppr === 0 ? '' :
        totalPanelVo.instrumentNoIfrAppr}}</span>

    <!-- line 6 -->
    <span class="font-medium text-slate-700 whitespace-nowrap">T/Os & ldgs day:</span>
    <span class="text-right pr-2">{{totalPanelVo.tosLdgsDay === 0 ? '' : (totalPanelVo.tosLdgsDay | number:
        '1.1-1')}}</span>
    <span class="font-medium text-slate-700 whitespace-nowrap">T/Os & ldgs night:</span>
    <span class="text-right pr-2">{{totalPanelVo.tosLdgsNight === 0 ? '' : (totalPanelVo.tosLdgsNight | number:
        '1.1-1')}}</span>

    <!-- line 7 -->
    <span class="font-medium text-slate-700 whitespace-nowrap">Total:</span>
    <span class="font-semibold text-right pr-2">{{totalPanelVo.total === 0 ? '' : (totalPanelVo.total | number:
        '1.1-1')}}</span>
    <span></span>
    <span></span>
</div>