<p-table
    *ngIf="rowArray"
	[value]="rowArray"
	[dataKey]="'_links.self.href'"
	[lazy]="true"
	[rows]="ROWS_PER_PAGE"
	[paginator]="true"
	[totalRecords]="page?.totalElements"
	[rowsPerPageOptions]="[5,10,20]"
	(onLazyLoad)="onLazyLoad($event)"
	[selectionMode]="'single'"
	[(selection)]="selectedRow"
    (onRowSelect)="onRowSelect($event)"
    [responsive]="true"
    [first]="firstRowOfTable"
    #dt
	>

    <ng-template pTemplate="header">
        <tr>
            <th *ngFor="let fieldAttributes of fieldAttributesArray" [ngStyle]="fieldAttributes.headerStyle">
                {{fieldAttributes.header}}
            </th>
        </tr>
        <tr>
            <th *ngFor="let fieldAttributes of fieldAttributesArray">
                <input pInputText type="text" (input)="dt.filter($event.target.value, fieldAttributes.columnName, fieldAttributes.filterMatchMode)" [ngStyle]="fieldAttributes.filterStyle">
            </th>
        </tr>
    </ng-template>

    <ng-template pTemplate="body" let-row>
        <tr [pSelectableRow]="row">
            <td *ngFor="let fieldAttributes of fieldAttributesArray" [ngSwitch]="fieldAttributes.pipe">
                <span *ngSwitchCase="'date-yyyy-mm-dd'">{{ row[fieldAttributes.columnName] | date:'yyyy-MM-dd' }}</span>
                <span *ngSwitchDefault>{{ row[fieldAttributes.columnName] }}</span>
            </td>
        </tr>
    </ng-template>
    
    <ng-template pTemplate="summary">
        <div class="ui-helper-clearfix" style="width:100%">
            <button type="button" pButton icon="fa-plus" style="float:left" (click)="showDialog('Add')" label="Add"></button>
            <button type="button" pButton icon="fa-edit" style="float:left" (click)="showDialog('Update')" label="Modify" [disabled]="modifyAndDeleteButtonsDisable"></button>
            <button type="button" pButton icon="fa-remove" style="float:left" (click)="showDialog('Delete')" label="Delete" [disabled]="modifyAndDeleteButtonsDisable"></button>
            <div style="text-align:right; margin-top: 0.3em;">
                <div style="display:inline-block; margin-right: 0.5rem;">Rows: {{page.totalElements}}</div>
                <div style="display:inline-block; margin-right: 0.5rem;">Pages: {{page.totalPages}}</div>
                <div style="display:inline-block;">Page: <input type="text" id="pageNumber" [(ngModel)]="pageNumber" maxlength="4" size="3"/></div>
                <div style="display:inline-block;"><button pButton type="button" label="Go" (click)="onGoToPage()"></button></div>
            </div>
        </div>
    </ng-template>
</p-table>

<p-dialog header="{{formAttributes.formTitle}} - {{crudMode}}" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true">

    <form [formGroup]="crudForm" (ngSubmit)="onSubmit()" novalidate>
        <div class="ui-g">

            <ng-template ngFor let-fieldAttributes [ngForOf]="fieldAttributesArray">
                <div class="ui-g-6">
                    <label [for]="fieldAttributes.columnName">{{fieldAttributes.header}}</label>
                </div>
                <div class="ui-g-6" [ngSwitch]="fieldAttributes.uiComponentType">

                    <p-calendar *ngSwitchCase="'calendar'" [formControlName]="fieldAttributes.columnName" [id]="fieldAttributes.columnName" [dateFormat]="'yy-mm-dd'" [showIcon]="true" [readonlyInput]="true" [showOnFocus]="false" [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2050">
                    </p-calendar>

                    <textarea *ngSwitchCase="'textArea'" pInputTextarea [id]="fieldAttributes.columnName" [formControlName]="fieldAttributes.columnName" [rows]="fieldAttributes.textAreaRows" [cols]="fieldAttributes.textAreaColumns">
                    </textarea>

                    <input *ngSwitchCase="'text'" pInputText [id]="fieldAttributes.columnName" [formControlName]="fieldAttributes.columnName"/>

                    <span *ngSwitchDefault>
                        Unhandled {{fieldAttributes.uiComponentType}} type
                    </span>
                </div>
            </ng-template>

            <p-footer>
                <div class="ui-g-6">
                    <!-- TODO replace disabled logic with a function -->
                    <button pButton type="submit" label="Submit"
                    [disabled]="crudForm.invalid" icon="fa-check"></button>
                </div>
                <div class="ui-g-6">
                    <button pButton type="reset" label="Cancel" (click)="onCancel()"></button>
                </div>
            </p-footer>
        </div>
    </form>
</p-dialog>
