<p-table
    *ngIf="page"
	[value]="rowArray"
	[dataKey]="'_links.self.href'"
	[lazy]="true"
	[rows]="ROWS_PER_PAGE"
	[paginator]="true"
	[totalRecords]="page.totalElements"
	[rowsPerPageOptions]="[5,10,20]"
	(onLazyLoad)="onLazyLoad($event)"
	[selectionMode]="'single'"
	[(selection)]="selectedRow"
    (onRowSelect)="onRowSelect($event)"
    #dt
	>

    <ng-template pTemplate="header">
        <tr>
            <th *ngFor="let fieldAttributes of fieldAttributesArray" [ngStyle]="fieldAttributes.headerStyle">
                {{fieldAttributes.header}}
            </th>
        </tr>
        <tr>
            <th *ngFor="let fieldAttributes of fieldAttributesArray">
                <input pInputText type="text" (input)="dt.filter($event.target.value, fieldAttributes.columnName, fieldAttributes.filterMatchMode)" [ngStyle]="fieldAttributes.filterStyle">
            </th>
        </tr>
    </ng-template>

    <ng-template pTemplate="body" let-row>
        <tr [pSelectableRow]="row">
            <td *ngFor="let fieldAttributes of fieldAttributesArray" [ngSwitch]="fieldAttributes.pipe">
                <span *ngSwitchCase="'date-yyyy-mm-dd'">{{ row[fieldAttributes.columnName] | date:'yyyy-MM-dd' }}</span>
                <span *ngSwitchDefault>{{ row[fieldAttributes.columnName] }}</span>
            </td>
        </tr>
    </ng-template>
    
    <ng-template pTemplate="summary">
        <div class="ui-helper-clearfix" style="width:100%">
            <button type="button" pButton icon="fa-plus" style="float:left" (click)="showDialog('Add')" label="Add"></button>
            <button type="button" pButton icon="fa-edit" style="float:left" (click)="showDialog('Update')" label="Modify" [disabled]="modifyAndDeleteButtonsDisable"></button>
            <button type="button" pButton icon="fa-remove" style="float:left" (click)="showDialog('Delete')" label="Delete" [disabled]="modifyAndDeleteButtonsDisable"></button>
        </div>
    </ng-template>
</p-table>
