.ui-state-highlight .pi-chevron-down  {
    color:white;
}
.ui-state-highlight .pi-chevron-right {
    color:white;
}
/* .pi-angle-double-right {
    color: #007ad9;
} */
.red-font {
    color: red;
}
:host ::ng-deep .ui-inputtext {
    padding: 0;
}
.underline-solid {
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-color: blue;
}