<p-table *ngIf="firstRowOfTable >= 0" [value]="flightLogTotalsVs" [dataKey]="'_links.flightLogTotalsV.href'"
    [lazy]="true" [rows]="ROWS_PER_PAGE" [paginator]="true" [totalRecords]="page.totalElements"
    [rowsPerPageOptions]="[5,10,15,20]" (onLazyLoad)="onLazyLoad($event)" [selectionMode]="'single'"
    [(selection)]="selectedFlightLogTotalsV" (onRowSelect)="onRowSelect($event)" (onRowUnselect)="onRowUnselect($event)"
    [first]="firstRowOfTable" [loading]="loadingStatus" size="small" #dt>

    <!-- Caption Component -->
    <ng-template pTemplate="caption">
        <div class="text-right">
            <p-multiSelect [options]="columnOptions" [(ngModel)]="cols" [maxSelectedLabels]="99"></p-multiSelect>
        </div>
    </ng-template>

    <!-- Header Component -->
    <ng-template pTemplate="header">
        <tr>
            <th *ngFor="let col of cols" [ngStyle]="col.style">
                <!-- Replaced manual class with Tailwind border utilities -->
                <span *ngIf="col.tooltipText" [pTooltip]="col.tooltipText" tooltipPosition="top"
                    class="underline decoration-dotted cursor-help">{{col.header}}</span>
                <span *ngIf="!col.tooltipText">{{col.header}}</span>
                <p-columnFilter *ngIf="col.filterable" [type]="col.type" [field]="col.field"
                    [minFractionDigits]="col.fractionDigits" [maxFractionDigits]="col.fractionDigits" display="menu"
                    [showOperator]="false" [showAddButton]="false" [hideOnClear]="true"></p-columnFilter>
            </th>
        </tr>
    </ng-template>

    <!-- Body Component -->
    <ng-template pTemplate="body" let-rowData>
        <tr [pSelectableRow]="rowData">
            <td *ngFor="let col of cols">
                <!-- Replaced manual class with Tailwind interactive hover class -->
                <span *ngIf="col.field === 'flightDate'" class="underline hover:text-blue-600 cursor-pointer" (click)="
                    displayTotals($event, rowData._links.flightLogTotalsV.href);
                    totalsOverlayPanel.show($event);
                    ">
                    {{rowData[col.field] | date:'yyyy-MM-dd'}}</span>
                <span *ngIf="col.field === 'remarks'"><app-abbreviate [text]="rowData[col.field]"
                        [maxLength]="20"></app-abbreviate></span>
                <span *ngIf="col.field !== 'flightDate' && col.field !== 'remarks'">{{rowData[col.field]}}</span>
            </td>
        </tr>
    </ng-template>

    <!-- Summary / Footer Component -->
    <!-- Replaced PrimeFlex Grid with modern CSS Flexbox and Tailwind spacings -->
    <ng-template pTemplate="summary">
        <div class="flex flex-col md:flex-row md:justify-between md:items-center gap-4">
            <div class="flex flex-wrap gap-2">
                <span *ngIf="hasWritePermission" class="flex flex-wrap gap-2">
                    <button type="button" pButton icon="pi pi-plus" (click)="showDialog(crudEnum.ADD)"
                        label="Add"></button>
                    <button *ngIf="pendingRowCount" type="button" pButton icon="pi pi-plus"
                        (click)="showPendingDialog()" label="Add/delete pending"></button>
                    <button type="button" pButton icon="pi pi-pencil" (click)="showDialog(crudEnum.UPDATE)"
                        label="Modify" [disabled]="modifyAndDeleteButtonsDisable"></button>
                    <button type="button" pButton icon="pi pi-minus" (click)="showDialog(crudEnum.DELETE)"
                        label="Delete" [disabled]="modifyAndDeleteButtonsDisable"></button>
                </span>
            </div>

            <div class="flex justify-end items-center text-sm">
                <div class="flex flex-wrap items-center gap-4">
                    <span>Rows: {{page.totalElements}}</span>
                    <span>Pages: {{page.totalPages}}</span>
                    <span class="flex items-center gap-2">
                        Page:
                        <input type="text" id="pageNumber" [(ngModel)]="pageNumber" maxlength="4" size="3"
                            class="border border-gray-300 rounded px-1.5 py-0.5 text-center focus:outline-none focus:ring-1 focus:ring-blue-500" />
                    </span>
                    <button pButton type="button" label="Go" (click)="onGoToPage()"></button>
                </div>
            </div>
        </div>
    </ng-template>
</p-table>

<!-- Dialog Modules -->
<p-dialog header="{{crudMode}}" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true">
    <p-messages></p-messages>
    <app-backend-stacktrace-display></app-backend-stacktrace-display>
    <app-flight-log-form [crudMode]="crudMode" [flightLog]="crudFlightLog" (formSubmitted)="onSubmit($event)"
        (formCancelled)="onCancel()"></app-flight-log-form>
</p-dialog>

<p-dialog header="Add (from pending)" [(visible)]="displayDialogPendingEntry" [responsive]="true" showEffect="fade"
    [modal]="true">
    <p-messages></p-messages>
    <app-backend-stacktrace-display></app-backend-stacktrace-display>
    <app-flight-log-form [crudMode]="crudEnum.ADD" [flightLog]="crudFlightLog" (formSubmitted)="onSubmitPending($event)"
        (formCancelled)="onCancelPending()"></app-flight-log-form>
</p-dialog>

<!-- Overlay panel with small tracking style fix -->
<p-overlayPanel #totalsOverlayPanel [showCloseIcon]="true">
    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="To-date Totals">
                <app-total-panel [totalPanelVo]="toDateTotalPanelVo"></app-total-panel>
            </p-tabPanel>
            <p-tabPanel *ngIf="overPanelFlightLogTotalsV.monthTotal"
                header="Month {{overPanelFlightLogTotalsV.flightDate | date:'yyyy-MM'}}">
                <app-total-panel [totalPanelVo]="monthTotalPanelVo"></app-total-panel>
            </p-tabPanel>
            <p-tabPanel *ngIf="overPanelFlightLogTotalsV.yearTotal"
                header="Year {{overPanelFlightLogTotalsV.flightDate | date:'yyyy'}}">
                <app-total-panel [totalPanelVo]="yearTotalPanelVo"></app-total-panel>
            </p-tabPanel>
            <p-tabPanel *ngIf="overPanelFlightLogTotalsV._links.flightLogTotalsV.href === pageRowKey" header="Page">
                <app-total-panel [totalPanelVo]="pageTotalPanelVo"></app-total-panel>
            </p-tabPanel>
        </p-tabView>
        <div class="mt-2 text-xs text-gray-500">
            As of {{overPanelFlightLogTotalsV.flightDate | date:'yyyy-MM-dd'}}
        </div>
    </ng-template>
</p-overlayPanel>

<!-- Pending Table Dialog Modifiers -->
<p-dialog [(visible)]="displayDialogPendingTable" [responsive]="true" showEffect="fade" [modal]="true">
    <ng-template pTemplate="header">
        <div class="w-full text-center font-bold text-lg">
            Pending Flights
        </div>
    </ng-template>

    <p-table [value]="flightLogPendingArray" dataKey="_links.self.href" editMode="row" [loading]="loadingStatus">
        <ng-template pTemplate="header">
            <tr>
                <th>Date</th>
                <th>From</th>
                <th>To</th>
                <th>Flt Time</th>
                <th>Reg</th>
                <th>Mk Mdl</th>
                <th></th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-flightLogPending>
            <tr [pEditableRow]="flightLogPending">
                <td>{{flightLogPending.flightDate | date:'yyyy-MM-dd'}}</td>
                <td>{{flightLogPending.routeFrom}}</td>
                <td>{{flightLogPending.routeTo}}</td>
                <td>{{flightLogPending.flightTime}}</td>
                <td>{{flightLogPending.registration}}</td>
                <td>{{flightLogPending.makeModel}}</td>
                <td></td>
            </tr>
        </ng-template>
    </p-table>
</p-dialog>