<p-table *ngIf="firstRowOfTable" [value]="flightLogArray" [dataKey]="'_links.flightLog.href'"
    [lazy]="true" [rows]="ROWS_PER_PAGE" [paginator]="true" [totalRecords]="page.totalElements" [rowsPerPageOptions]="[5,10,20]" (onLazyLoad)="getTableRowsLazy($event)" responsive="true" selectionMode="single" [(selection)]="selectedFlightLog"
    dataKey="_links.flightLog.href" (onRowSelect)="onRowSelect($event)" (onRowUnselect)="onRowUnselect($event)" [responsive]="true" [first]="firstRowOfTable" #dt>

    <ng-template pTemplate="caption">
        <div style="text-align:right">
            <p-multiSelect [options]="columnOptions" [(ngModel)]="cols" maxSelectedLabels="99"></p-multiSelect>
        </div>
    </ng-template>

    <ng-template pTemplate="header">
        <tr>
            <th *ngFor="let col of cols" [ngSwitch]="col.field" [ngStyle]="col.style">
                <span *ngIf="col.tooltipText" [pTooltip]="col.tooltipText" tooltipPosition="top">{{col.header}}</span>
                <span *ngIf="!col.tooltipText" >{{col.header}}</span>
            </th>
        </tr>
        <tr>
            <th *ngFor="let col of cols" [ngSwitch]="col.field">
                <input *ngSwitchCase="'flightDate'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)" [ngStyle]="col.style">
                <input *ngSwitchDefault pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)" [ngStyle]="col.style">
            </th>
        </tr>
    </ng-template>
    
    <ng-template pTemplate="body" let-rowData>
        <tr [pSelectableRow]="rowData">
            <td *ngFor="let col of cols">
                    <span *ngIf="col.field === 'flightDate'">{{rowData[col.field] | date:'yyyy-MM-dd'}}</span>
                    <span *ngIf="col.field === 'remarks'"><app-abbreviate [text]="rowData[col.field]" [maxLength]="20"></app-abbreviate></span>
                    <span *ngIf="col.field !== 'flightDate' && col.field !== 'remarks'">{{rowData[col.field]}}</span>
            </td>
        </tr>
    </ng-template>

    <ng-template pTemplate="summary">
        <div class="ui-helper-clearfix" style="width:100%">
            <button type="button" pButton icon="fa-plus" style="float:left" (click)="showDialog('Add')" label="Add"></button>
            <button type="button" pButton icon="fa-edit" style="float:left" (click)="showDialog('Update')" label="Modify" [disabled]="modifyAndDeleteButtonsDisable"></button>
            <button type="button" pButton icon="fa-remove" style="float:left" (click)="showDialog('Delete')" label="Delete" [disabled]="modifyAndDeleteButtonsDisable"></button>
            <div style="text-align:right; margin-top: 0.3em;">
                <span>Total: {{page.totalElements}}</span>
                <input type="text" id="pageNumber" [(ngModel)]="pageNumber" maxlength="4" size="3"/>
                <button pButton type="button" label="Go" (click)="onGoToPage()"></button>
            </div>
        </div>
    </ng-template>
</p-table>

<p-dialog header="Flight Log - {{crudMode}}" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true">
        <!-- TODO set the width on the p-dialog not on the div -->
        <!-- <form (ngSubmit)="onSubmit()" #flightLogForm="ngForm"> -->
        <form [formGroup]="flightLogForm" (ngSubmit)="onSubmit()" novalidate>
            

        <div class="ui-g" style="width: 50em;">
            <!-- line 1 -->
            <div class="ui-g-3">
                <label for="flightDate">Flight date</label>
            </div>
            <div class="ui-g-9">
                <p-calendar formControlName="flightDate" id="flightDate" [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2050"
                    [dateFormat]="'yy-mm-dd'" [showIcon]="true" [readonlyInput]="true" [showOnFocus]="false"
                    >
                </p-calendar>
            </div>
            <!-- line 2 -->
            <div class="ui-g-3">
                <label for="makeModel">Make and model</label>
            </div>
            <div class="ui-g-3">
                <p-dropdown formControlName="makeModel" [options]="makeModelSelectItemArray" id="makeModel" [placeholder]="' '" [style]="{'width': '12rem', 'min-height': '1.8rem'}"></p-dropdown>
            </div>
            <div class="ui-g-3">
                <label for="registration">Registration</label>
            </div>
            <div class="ui-g-3">
                <p-dropdown formControlName="registration" [options]="registrationSelectItemArray" id="registration" [placeholder]="' '" [style]="{'width': '12rem', 'min-height': '1.8rem'}"></p-dropdown>
            </div>
            <!-- line 3 -->
            <div class="ui-g-3">
                <label for="pic">Pilot-in-command</label>
            </div>
            <div class="ui-g-3">
                <p-dropdown formControlName="pic" [options]="pilotSelectItemArray" id="pic" [placeholder]="' '" [style]="{'width': '12rem', 'min-height': '1.8rem'}"></p-dropdown>
            </div>
            <div class="ui-g-3">
                <label for="coPilot">Co-pilot</label>
            </div>
            <div class="ui-g-3">
                <p-dropdown formControlName="coPilot" [options]="pilotSelectItemArray" id="coPilot" [placeholder]="' '" [style]="{'width': '12rem', 'min-height': '1.8rem'}"></p-dropdown>
            </div>
            <!-- line 4 -->
            <div class="ui-g-3">
                <label for="routeFrom">From</label>
            </div>
            <div class="ui-g-3">
                <p-autoComplete formControlName="fromAirport" id="fromAirport" [suggestions]="filteredAirportArray" (completeMethod)="searchAirport($event)" [field]="'identifier'" size="17" [forceSelection]="true" [readonly]="crudMode == 'Delete'">
                    <ng-template let-airport pTemplate="item">
                        {{airport.identifier}} - {{airport.name}}
                    </ng-template>
                </p-autoComplete>
            </div>
            <div class="ui-g-3">
                <label for="routeTo">To</label>
            </div>
            <div class="ui-g-3">
                <p-autoComplete formControlName="toAirport" id="toAirport" [suggestions]="filteredAirportArray" (completeMethod)="searchAirport($event)" [field]="'identifier'" size="17" [forceSelection]="true" [readonly]="crudMode == 'Delete'">
                    <ng-template let-airport pTemplate="item">
                        {{airport.identifier}} - {{airport.name}}
                    </ng-template>
                </p-autoComplete>
            </div>
            <!-- line 5 -->
            <div class="ui-g-3">
                <label for="remarks">Remarks</label>
            </div>
            <div class="ui-g-9">
                <textarea pInputTextarea formControlName="remarks" [rows]="3" autoResize="autoResize" style="width: 100%;" id="remarks" class="form-control"></textarea>
            </div>
            <!-- line 6 -->
            <div class="ui-g-3">
                <label for="dayDual">Day dual</label>
            </div>
            <div class="ui-g-3">
                <input type="text" id="dayDual" formControlName="dayDual" regexValidator="^\d*(\.\d{0,1}){0,1}$"/>
                <div [hidden]="flightLogForm.controls.dayDual.valid || flightLogForm.controls.dayDual.pristine" class="alert alert-danger">Invalid value</div>
            </div>
            <div class="ui-g-3">
                <label for="daySolo">Day solo</label>
            </div>
            <div class="ui-g-3">
                <input pInputText id="daySolo" formControlName="daySolo" regexValidator="^\d*(\.\d{0,1}){0,1}$"/>
                <div [hidden]="flightLogForm.controls.daySolo.valid || flightLogForm.controls.daySolo.pristine" class="alert alert-danger">Invalid value</div>
            </div>

            <!-- line 7 -->
            <div class="ui-g-3">
                <label for="nightDual">Night dual</label>
            </div>
            <div class="ui-g-3">
                <input pInputText id="nightDual" formControlName="nightDual" regexValidator="^\d*(\.\d{0,1}){0,1}$"/>
                <div [hidden]="flightLogForm.controls.nightDual.valid || flightLogForm.controls.nightDual.pristine" class="alert alert-danger">Invalid value</div>
            </div>
            <div class="ui-g-3">
                <label for="nightSolo">Night solo</label>
            </div>
            <div class="ui-g-3">
                <input pInputText id="nightSolo" formControlName="nightSolo" regexValidator="^\d*(\.\d{0,1}){0,1}$"/>
                <div [hidden]="flightLogForm.controls.nightSolo.valid || flightLogForm.controls.nightSolo.pristine" class="alert alert-danger">Invalid value</div>
            </div>

            <!-- line 8 -->
            <div class="ui-g-3">
                <label for="instrumentImc">Inst IMC</label>
            </div>
            <div class="ui-g-3">
                <input pInputText id="instrumentImc" formControlName="instrumentImc" regexValidator="^\d*(\.\d{0,1}){0,1}$"/>
                <div [hidden]="flightLogForm.controls.instrumentImc.valid || flightLogForm.controls.instrumentImc.pristine" class="alert alert-danger">Invalid value</div>            
            </div>
            <div class="ui-g-3">
                <label for="instrumentFlightSim">Inst simulated</label>
            </div>
            <div class="ui-g-3">
                <input pInputText id="instrumentFlightSim" formControlName="instrumentFlightSim" regexValidator="^\d*(\.\d{0,1}){0,1}$"/>
                <div [hidden]="flightLogForm.controls.instrumentFlightSim.valid || flightLogForm.controls.instrumentFlightSim.pristine" class="alert alert-danger">Invalid value</div>            
            </div>
            <!-- line 9 -->
            <div class="ui-g-3">
                <label for="instrumentSimulated">Inst flight sim</label>
            </div>
            <div class="ui-g-3">
                <input pInputText id="instrumentSimulated" formControlName="instrumentSimulated" regexValidator="^\d*(\.\d{0,1}){0,1}$"/>
                <div [hidden]="flightLogForm.controls.instrumentSimulated.valid || flightLogForm.controls.instrumentSimulated.pristine" class="alert alert-danger">Invalid value</div>            
            </div>
            <div class="ui-g-3">
                <label for="instrumentNoIfrAppr">Inst # IFR appr</label>
            </div>
            <div class="ui-g-3">
                <input pInputText id="instrumentNoIfrAppr" formControlName="instrumentNoIfrAppr" regexValidator="^\d*$"/>
                <div [hidden]="flightLogForm.controls.instrumentNoIfrAppr.valid || flightLogForm.controls.instrumentNoIfrAppr.pristine" class="alert alert-danger">Invalid value</div>            
            </div>
            <!-- line 10 -->
            <div class="ui-g-3">
                <label for="xcountryDay">X-cty day</label>
            </div>
            <div class="ui-g-3">
                <input pInputText id="xcountryDay" formControlName="xcountryDay" />
            </div>
            <div class="ui-g-3">
                <label for="xcountryNight">X-cty night</label>
            </div>
            <div class="ui-g-3">
                <input pInputText id="xcountryNight" formControlName="xcountryNight" />
            </div>
            <!-- line 11 -->
            <div class="ui-g-3">
                <label for="tosLdgsDay">T/Os & ldgs day</label>
            </div>
            <div class="ui-g-3">
                <input pInputText id="tosLdgsDay" formControlName="tosLdgsDay" />
            </div>
            <div class="ui-g-3">
                <label for="tosLdgsNight">T/Os & ldgs night</label>
            </div>
            <div class="ui-g-3">
                <input pInputText id="tosLdgsNight" formControlName="tosLdgsNight" />
            </div>
            <!-- <div>{{flightLogForm.status}}</div> -->
            <p-footer>
                <div class="ui-g-6">
                    <!-- TODO replace disabled logic with a function -->
                    <button pButton type="submit" label="Submit"
                    [disabled]="flightLogForm.invalid"></button>
                </div>
                <div class="ui-g-6">
                    <button pButton type="reset" label="Cancel" (click)="onCancel()"></button>
                </div>
            </p-footer>

        </div>
        </form>
    </p-dialog>