Component(new)
<p-table
    [value]="componentRowArray"
    [dataKey]="'_links.self.href'"
	[lazy]="true"
	[rows]="ROWS_PER_PAGE"
	[paginator]="true"
	[totalRecords]="page?.totalElements"
	[rowsPerPageOptions]="[5,10,20]"
	(onLazyLoad)="onLazyLoad($event)"
    [selectionMode]="'single'"
    [(selection)]="selectedRow"
    (onRowSelect)="onRowSelect($event)"
    [responsive]="true"
    [first]="firstRowOfTable"
    [loading]="loadingFlag"
    #dt
    >

    <ng-template pTemplate="caption">
        Component
    </ng-template>

    <ng-template pTemplate="header">
        <tr>
            <th style="width: 3em"></th>
            <th>Name</th>
            <th>Description</th>
            <th>Part</th>
            <th>Work Prfrmd</th>
            <th [ngStyle]="{width: '7rem'}">Dt Prfrmd</th>
            <th [ngStyle]="{width: '4.5rem'}">Hrs Prfrmd</th>
            <th [ngStyle]="{width: '7rem'}">Dt Due</th>
            <th [ngStyle]="{width: '4.5rem'}">Hrs Due</th>
        </tr>
        <tr>
            <th style="width: 3em"></th>
            <th>
                <input pInputText type="text" (input)="dt.filter($event.target.value, 'name', 'contains')" [ngStyle]="{width: '6rem'}">
            </th>
            <th>
                <input pInputText type="text" (input)="dt.filter($event.target.value, 'description', 'contains')" [ngStyle]="{width: '6rem'}">
            </th>
            <th>
                <input pInputText type="text" (input)="dt.filter($event.target.value, 'part.name', 'contains')" [ngStyle]="{width: '6rem'}">
            </th>
            <th>
                <input pInputText type="text" (input)="dt.filter($event.target.value, 'workPerformed', 'contains')" [ngStyle]="{width: '6rem'}">
            </th>
            <th>
                <input pInputText type="text" (input)="dt.filter($event.target.value, 'datePerformed', 'contains')" [ngStyle]="{width: '4rem'}">
            </th>
            <th>
                <input pInputText type="text" (input)="dt.filter($event.target.value, 'hoursPerformed', 'contains')" [ngStyle]="{width: '3rem'}">
            </th>
            <th>
                <input pInputText type="text" (input)="dt.filter($event.target.value, 'dateDue', 'contains')" [ngStyle]="{width: '4rem'}">
            </th>
            <th>
                <input pInputText type="text" (input)="dt.filter($event.target.value, 'hoursDue', 'contains')" [ngStyle]="{width: '3rem'}">
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-expanded="expanded">
        <tr [pSelectableRow]="rowData">
            <td>
                <a *ngIf="rowData.componentHistorySet.length > 0" href="#" [pRowToggler]="rowData">
                    <i [ngClass]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></i>
                </a>
            </td>
            <td>{{ rowData.name }}</td>
            <td>{{ rowData.description }}</td>
            <td>{{ rowData.part.name }}</td>
            <td>{{ rowData.workPerformed }}</td>
            <td>{{ rowData.datePerformed | date:'yyyy-MM-dd'}}</td>
            <td>{{ rowData.hoursPerformed }}</td>
            <td>{{ rowData.dateDue | date:'yyyy-MM-dd'}}</td>
            <td>{{ rowData.hoursDue }}</td>
        </tr>
    </ng-template>
    <ng-template pTemplate="rowexpansion" let-rowData>
        <tr *ngFor="let componentHistory of rowData.componentHistorySet">
            <td [attr.colspan]="4"></td>
            <td>{{ componentHistory.workPerformed }}</td>
            <td>{{ componentHistory.datePerformed | date:'yyyy-MM-dd' }}</td>
            <td>{{ componentHistory.hoursPerformed }}</td>
            <td [attr.colspan]="2"></td>
        </tr>
    </ng-template>
    <ng-template pTemplate="summary">
        <div class="p-grid" style="margin-bottom: -0.6em;">
            <div class="p-col-5">
                <span *ngIf="hasWritePermission">
                    <button type="button" pButton icon="pi pi-plus" style="float:left" (click)="showDialog(crudEnum.ADD)" label="Add"></button>
                    <button type="button" pButton icon="pi pi-pencil" style="float:left; margin-left:0.5rem;" (click)="showDialog(crudEnum.UPDATE)" label="Modify" [disabled]="modifyAndDeleteButtonsDisable"></button>
                    <button type="button" pButton icon="pi pi-minus" style="float:left; margin-left:0.5rem;" (click)="showDialog(crudEnum.DELETE)" label="Delete" [disabled]="modifyAndDeleteButtonsDisable"></button>
                </span>
            </div>
            <div class="p-col-4 p-offset-3">
                <div style="float:right;">
                <span style="margin-right: 1rem;">Rows: {{page.totalElements}}</span>
                <span style="margin-right: 1rem;">Pages: {{page.totalPages}}</span>
                <span style="margin-right: 0.5rem;">Page: <input type="text" id="pageNumber" [(ngModel)]="pageNumber" maxlength="4" size="3"/></span>
                <button pButton type="button" label="Go" (click)="onGoToPage()"></button>
                </div>
            </div>
        </div>
    </ng-template>
</p-table>
<p-dialog header="Component - {{crudMode}}" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true">

    <form [formGroup]="componentForm" (ngSubmit)="onSubmit()" novalidate>
        <div class="p-grid" style="width: 30em;">

            <div class="p-col-4">
                <label for="name">Name</label>
            </div>
            <div class="p-col-8">
                <input pInputText id="name" formControlName="name"/>
                <div *ngIf="componentForm.controls.name.invalid && componentForm.controls.name.touched" class="red-font">Field is required</div>
            </div>
            <div class="p-col-4">
                <label for="description">Description</label>
            </div>
            <div class="p-col-8">
                <input pInputText id="description" formControlName="description"/>
            </div>
            <div class="p-col-4">
                <label for="part">Part</label>
            </div>
            <div class="p-col-8">
                <p-dropdown id="part" [options]="partRowArray" formControlName="part" optionLabel="name" placeholder="Select part" appendTo="body">
                </p-dropdown>
            </div>
            <div class="p-col-4">
                <label for="workPerformed">Work Prfrmd</label>
            </div>
            <div class="p-col-8">
                <input pInputText id="workPerformed" formControlName="workPerformed"/>
                <div *ngIf="componentForm.controls.workPerformed.invalid && componentForm.controls.workPerformed.touched" class="red-font">Field is required</div>
            </div>
            <div class="p-col-4">
                <label for="datePerformed">Dt Prfrmd</label>
            </div>
            <div class="p-col-8">
                <p-calendar formControlName="datePerformed" id="datePerformed" [dateFormat]="'yy-mm-dd'" [showIcon]="true" [readonlyInput]="true" [showOnFocus]="false" [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2050" appendTo="body">
                </p-calendar>
            </div>
            <div class="p-col-4">
                <label for="hoursPerformed">Hrs Prfrmd</label>
            </div>
            <div class="p-col-8">
                <input pInputText id="hoursPerformed" formControlName="hoursPerformed"/>
            </div>
            <div class="p-col-4">
                <label for="dateDue">Dt Due</label>
            </div>
            <div class="p-col-8">
                <p-calendar formControlName="dateDue" id="dateDue" [dateFormat]="'yy-mm-dd'" [showIcon]="true" [readonlyInput]="true" [showOnFocus]="false" [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2050" appendTo="body">
                </p-calendar>
            </div>
            <div class="p-col-4">
                <label for="hoursDue">Hrs Due</label>
            </div>
            <div class="p-col-8">
                <input pInputText id="hoursDue" formControlName="hoursDue"/>
            </div>
            <div *ngIf="crudMode === crudEnum.UPDATE" class="p-col-4">
                <label for="createHistoryRecord">Save history</label>
            </div>
            <div *ngIf="crudMode === crudEnum.UPDATE" class="p-col-8">
                <p-inputSwitch id="createHistoryRecord" formControlName="createHistoryRecord"></p-inputSwitch>
            </div>
            <p-footer class="p-grid">
                <div class="p-col-6">
                    <button pButton type="submit" label="Submit"
                    [disabled]="componentForm.invalid" icon="pi pi-check"></button>
                </div>
                <div class="p-col-6">
                    <button pButton type="reset" label="Cancel" (click)="onCancel()"></button>
                </div>
            </p-footer>
        </div>
    </form>
</p-dialog>
